[Desktop Entry]
Name=Miku-Dark-transparent
X-KDE-PluginInfo-Author=Bajan
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=bajan@fotonk.hu
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Miku-Dark-transparent
X-KDE-PluginInfo-Version=1.0.0
